iss.flow
[{"id":"c731a9f1.9f05c8","type":"template","z":"a52357ae.d88808","name":"Space Station Tracker","field":"payload","fieldType":"msg","format":"handlebars","syntax":"plain","template":"<!DOCTYPE html>\n<html>\n    <head>\n        <title>Realtime ISS</title>\n        <meta name=\"viewport\" content=\"initial-scale=1.0, user-scalable=no\" />\n        <style type=\"text/css\">\n            html { height: 100% }\n            body { height: 100%; margin: 0; padding: 0 }\n            #map { height: 100% }\n        </style>\n        <script type=\"text/javascript\" src=\"//maps.googleapis.com/maps/api/js?key=AIzaSyAFLoXS1lPMv75OISOZ0GujwAhH1LPlJP4&sensor=false\"></script>\n        <script src=\"//googlemaps.github.io/js-map-label/src/maplabel-compiled.js\"></script>\n        <script src=\"//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js\"></script>\n        <script type=\"text/javascript\">\n            var map, marker, last_latlng;\n\n            function init() {\n                var latlng = new google.maps.LatLng(43.7081784,-79.4609571);//51.48931, -0.08819);\n                var mapOptions = { center: latlng, zoom: 2, mapTypeId: google.maps.MapTypeId.TERRAIN, //zoomControl: true, scaleControl: true}\n          \n           mapTypeControl: true,\n          mapTypeControlOptions: {\n              style: google.maps.MapTypeControlStyle.HORIZONTAL_BAR,\n              position: google.maps.ControlPosition.TOP_CENTER\n          },\n          zoomControl: true,\n          zoomControlOptions: {\n              position: google.maps.ControlPosition.LEFT_CENTER\n          },\n          scaleControl: true,\n          streetViewControl: true,\n          streetViewControlOptions: {\n              position: google.maps.ControlPosition.LEFT_TOP\n          },\n          fullscreenControl: true\n                }\n\n\n                map = new google.maps.Map(document.getElementById(\"map\"), mapOptions);\n                infoWindow = new google.maps.InfoWindow();\n                maxZoomService = new google.maps.MaxZoomService();\n              //  map.addListener('click', showMaxZoom);\n\n\n                marker = new google.maps.Marker({ position: latlng, map: map, title: \"Lat:\"+latlng, icon: 'https://raw.githubusercontent.com/picklepete/iss/master/saticon.gif' });\n    //aquator\n    \n    \n       var rectangle = new google.maps.Rectangle({\n       strokeColor: '#0000FF',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(0, 90),\n       new google.maps.LatLng(0, 0))\n     });\n     \n    b1tlx= 85.03568516\n    b1tly= -150.734375\n    b1brx= -60.2679967\n    b1bry= -120.90625\n    var rectangle = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b1tlx, b1tly),\n       new google.maps.LatLng(b1brx, b1bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 1',\n          position: new google.maps.LatLng(b1brx, b1bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n     //   mapLabel.set('position', new google.maps.LatLng(34.03, -118.235));\n        \n    b2tlx= 85.03568516\n    b2tly= -100.734375\n    b2brx= -60.2679967\n    b2bry= -70.90625\n   \n  var rectangle1 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(b2tlx, b2tly),\n       new google.maps.LatLng(b2brx, b2bry))\n     });\n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 2',\n          position: new google.maps.LatLng(b2brx, b2bry),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n   \n  var rectangle2 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, -50.734375),\n       new google.maps.LatLng(-60.2679967,-10.90625))\n     });\n   \n       var mapLabel = new MapLabel({\n          text: 'BOX 3',\n          position: new google.maps.LatLng(-60.2679967,-10.90625),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n     var rectangle3 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85.03568516, 10),\n       new google.maps.LatLng(-60.2679967, 40))\n     });\n     \n     \n       var mapLabel = new MapLabel({\n          text: 'BOX 4',\n          position: new google.maps.LatLng(-60.2679967, 40),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n\n\n          var rectangle4 = new google.maps.Rectangle({\n       strokeColor: '#FF0000',\n       strokeOpacity: 0.8,\n       strokeWeight: 2,\n       fillColor: '#ffffff',\n       fillOpacity: 0.35,\n       map: map,\n       bounds: new google.maps.LatLngBounds(\n       new google.maps.LatLng(85, 90),\n       new google.maps.LatLng(-60, 130))\n     }); \n     \n       \n       var mapLabel = new MapLabel({\n          text: 'BOX 5',\n          position: new google.maps.LatLng(-60, 130),\n          map: map,\n          fontSize: 15,\n          align: 'top'\n        });\n         \n            }\n            google.maps.event.addDomListener(window, 'load', init);\n\n\n\n           function showMaxZoom(e) {\n             maxZoomService.getMaxZoomAtLatLng(e.latLng, function(response) {\n               if (response.status !== google.maps.MaxZoomStatus.OK) {\n                 infoWindow.setContent('Error in MaxZoomService');\n               } else {\n                 infoWindow.setContent(\n                     'The maximum zoom at this location is: ' + response.zoom);\n               }\n               infoWindow.setPosition(e.latLng);\n               infoWindow.open(map);\n             });\n           }\n            function draw_flight_path(latlng) {\n                if(last_latlng == undefined) {\n                    last_latlng = latlng;\n                }\n                flight_path = new google.maps.Polyline({\n                    path: [last_latlng, latlng],\n                    strokeColor: \"#FFFF00\",\n                    strokeOpacity: 1.0,\n                    strokeWeight: 2\n                });\n                last_latlng = latlng;\n                flight_path.setMap(map);\n            };\n\n            function get_latest_position() {\n                $.getJSON('http://open-notify-api.herokuapp.com/iss-now.json?callback=?', function(data, status) {\n                    position = data.iss_position;\n var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n// $.getJSON('https://api.wheretheiss.at/v1/satellites/25544/', function(data, status) {\n\n                    var latlng = new google.maps.LatLng(position.latitude, position.longitude);\n                    map.setCenter(latlng);\n                    marker.setPosition(latlng);\n                    marker.setTitle(\"Position: \"+latlng);\n                    var mycon = \"ISSI<br>Lat:\"+position.latitude+\"<br>Long\"+ position.longitude\n                    var myinfowindow = new google.maps.InfoWindow({\n                        content: mycon\n                    });\n marker.addListener('click', function() {\n    myinfowindow.open(map, marker);\n  });\n\n                    draw_flight_path(latlng);\n                    \n                });\n            };\n            setInterval(get_latest_position, 5000);\n        </script>\n    </head>\n    <body>\n        <div id=\"map\"/>\n    </body>\n</html>\n","output":"str","x":300,"y":80,"wires":[["4bf3e1fa.f705bc"]]},{"id":"2323c318.264e98","type":"http in","z":"a52357ae.d88808","name":"","url":"/iss","method":"get","upload":false,"swaggerDoc":"","x":83.5,"y":79.25,"wires":[["c731a9f1.9f05c8"]]},{"id":"4bf3e1fa.f705bc","type":"http response","z":"a52357ae.d88808","name":"","statusCode":"","headers":{},"x":510,"y":80,"wires":[]},{"id":"c2e9c94d.bc29d8","type":"http request","z":"a52357ae.d88808","name":"","method":"GET","ret":"obj","url":"http://open-notify-api.herokuapp.com/iss-now.json","tls":"","x":270,"y":160,"wires":[["18cca70a.eae3bd","44a720a6.56632","ca7dbef5.fd71e","17c19933.685263"]]},{"id":"18cca70a.eae3bd","type":"debug","z":"a52357ae.d88808","name":"IssiPos","active":false,"console":"false","complete":"payload","x":260,"y":120,"wires":[]},{"id":"49c617c0.f18d18","type":"inject","z":"a52357ae.d88808","name":"","topic":"","payload":"","payloadType":"date","repeat":"10","crontab":"","once":false,"x":90,"y":160,"wires":[["c2e9c94d.bc29d8"]]},{"id":"8feff403.0d4f18","type":"ui_template","z":"a52357ae.d88808","group":"1f9cf216.cadf02","name":"map","order":0,"width":"15","height":"11","format":"<div >\n<iframe src=\"/iss\" height=600 width=800>\n  <p>Your browser does not support iframes.</p>\n</iframe>\n</div>","storeOutMessages":false,"fwdInMessages":false,"templateScope":"local","x":510,"y":40,"wires":[[]]},{"id":"44a720a6.56632","type":"function","z":"a52357ae.d88808","name":"DisplayLat","func":"\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":180,"wires":[["44bbba69.530968","ebcbca86.10b0e8"]]},{"id":"44bbba69.530968","type":"ui_text","z":"a52357ae.d88808","group":"3034d261.8a489a","order":1,"width":0,"height":0,"name":"","label":"latitude","format":"{{msg.payload.iss_position.latitude}}","layout":"row-spread","x":700,"y":160,"wires":[]},{"id":"ebcbca86.10b0e8","type":"ui_text","z":"a52357ae.d88808","group":"3034d261.8a489a","order":2,"width":0,"height":0,"name":"","label":"longitude","format":"{{msg.payload.iss_position.longitude}}","layout":"row-spread","x":700,"y":200,"wires":[]},{"id":"b954235a.7c0c9","type":"ui_gauge","z":"a52357ae.d88808","name":"","group":"99755ee1.9166d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Blue","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#6f7dc9","#530dbb"],"seg1":"","seg2":"","x":1230,"y":740,"wires":[]},{"id":"61e25014.49fb6c","type":"ui_gauge","z":"a52357ae.d88808","name":"","group":"99755ee1.9166d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Green","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#73bc78","#21ac1b"],"seg1":"","seg2":"","x":1230,"y":700,"wires":[]},{"id":"a2828913.717a18","type":"ibmiot in","z":"a52357ae.d88808","authentication":"boundService","apiKey":"","inputType":"evt","deviceId":"playbulb00","applicationId":"","deviceType":"+","eventType":"ping","commandType":"","format":"json","name":"FromPiCandle","service":"registered","allDevices":false,"allApplications":false,"allDeviceTypes":true,"allEvents":false,"allCommands":false,"allFormats":true,"qos":"0","x":710,"y":700,"wires":[["29a6b679.b9f4e6","c9b0e2f8.83aaf","ac06026.131ce4","78ff3df5.bac2b8","39cf68f1.8815a4","82b8df1.d370fe"]]},{"id":"17c19933.685263","type":"function","z":"a52357ae.d88808","name":"CheckArea","func":"//Lat = Y Long = X\n/*\nbb is the bounding box, (ix,iy) are its top-left coordinates, and (ax,ay) its bottom-right coordinates. p is the point and (x,y) its coordinates.\n*/\nfunction checkPos(lat,lon,topleftlat,topleftlon,bottomrightlat,bottomrightlon,box)\n{\n    msg.inbox = box;\n  \n  //  node.warn(\"X topleftlon \"+topleftlon+\"  <= lon \"+lon+ \" res = \"+(   topleftlon <= lon   ))\n  //  node.warn(\"X lon \"+lon+\"  <= bottomrightlon \"+bottomrightlon+ \" res = \"+(  lon <= bottomrightlon)  )\n\nif( topleftlon <= lon && lon <= bottomrightlon ) {\n    // Point is in bounding box\n\n \n //node.warn(\" ISS in the area (\"+box+\").. candle ON\")  \nreturn true;\n\n}else{\n// node.warn(\"ISS not in the area  (\"+box+\")... candle OFF\")  \n return  false;\n\n\n}\nreturn  false;\n}\n\n \nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n\n  r0LatTl= 85\n  r0LngTl=-150\n\n  r0LatBr= -60\n  r0LngBr= -120\n\n  r1LatTl=  85\n  r1LngTl=-100.\n\n  r1LatBr= -60\n  r1LngBr= -70\n\n\n  r2LatTl=  85\n  r2LngTl= -50\n\n  r2LatBr= -60\n  r2LngBr= -10\n\n  r3LatTl=  85\n  r3LngTl= 10\n\n  r3LatBr= 85\n  r3LngBr= 40\n  \n  r4LatTl= 85\n  r4LngTl= 90\n\n  r4LatBr= -60\n  r4LngBr= 130\n\n/*\n\nlatitude\n\n-50.50472391191916\n\nlongitude\n\n-126.35910070188285\n\n\n\nlatitude = -50.5047239119191\n\nlongitude= -126.35910070188285\n\nmsg.inarea = false;\n node.warn(\"check\")\nres =checkPos(latitude ,longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box 1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n  */  \n\nmsg.inarea = false;\nres =checkPos(msg.latitude ,msg.longitude,r0LatTl,r0LngTl,r0LatBr,r0LngBr,\"box1\");\nmsg.inarea = res;\nif(res)\n    return msg;\n\n\nres =checkPos(msg.latitude ,msg.longitude,r1LatTl,r1LngTl,r1LatBr,r1LngBr,\"box 2\");\nmsg.inarea = res;\nif(res)\n    return msg;\n    \n \nres =checkPos(msg.latitude ,msg.longitude,r2LatTl,r2LngTl,r2LatBr,r2LngBr,\"box 3\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\nres =checkPos(msg.latitude ,msg.longitude,r3LatTl,r3LngTl,r3LatBr,r3LngBr,\"box 4\");\nmsg.inarea = res;\nif(res)\n    return msg;   \n\n\nres =checkPos(msg.latitude ,msg.longitude,r4LatTl,r4LngTl,r4LatBr,r4LngBr,\"box 5\");\nmsg.inarea = res;\nif(res)\n    return msg; \n    \nmsg.inbox = \"No\";    \nreturn msg;","outputs":1,"noerr":0,"x":170,"y":340,"wires":[["3294219a.9eb27a","ccedd357.f92e8","5042a2a2.d594bc"]]},{"id":"6fc17f37.62222","type":"e-mail","z":"a52357ae.d88808","server":"smtp.gmail.com","port":"465","secure":true,"name":"yourmail@gmail.com , mvk4ibm@gmail.com","dname":"","x":1210,"y":340,"wires":[]},{"id":"e121858e.6647a8","type":"function","z":"a52357ae.d88808","name":"IfIss is in Area send email","func":"\n    msg.topic = \"ISS update for YOU\"\n    msg.payload= \"Hello from Node-RED ISS is in Area with the SPEED of x Km/H and traveled  \"+global.get(\"distance\")+ \" km\";\n    return msg;","outputs":1,"noerr":0,"x":870,"y":340,"wires":[["6fc17f37.62222","4409d874.9e1098"]]},{"id":"19317a9a.16a66d","type":"inject","z":"a52357ae.d88808","name":"Send Email","topic":"","payload":"","payloadType":"str","repeat":"","crontab":"","once":false,"x":870,"y":400,"wires":[["e121858e.6647a8"]]},{"id":"4409d874.9e1098","type":"debug","z":"a52357ae.d88808","name":"email","active":false,"console":"false","complete":"true","x":1090,"y":400,"wires":[]},{"id":"5cd6ef25.ea21c8","type":"function","z":"a52357ae.d88808","name":"setCandleMode=Flashing","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":19,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setCandleMode\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":130,"y":860,"wires":[[]]},{"id":"43f6bd03.3f8e2","type":"delay","z":"a52357ae.d88808","name":"","pauseType":"delay","timeout":"2","timeoutUnits":"seconds","rate":"1","nbRateUnits":"1","rateUnits":"second","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":100,"y":500,"wires":[["e59a9d2a.1e316"]]},{"id":"893bf77a.2b89c8","type":"ibmiot out","z":"a52357ae.d88808","authentication":"boundService","apiKey":"","outputType":"cmd","deviceId":"playbulb00","deviceType":"playbulb","eventCommandType":"setColor","format":"json","data":"msg.payload","qos":0,"name":"toPiCandle","service":"registered","x":630,"y":500,"wires":[]},{"id":"862d15f6.8bc6c8","type":"comment","z":"a52357ae.d88808","name":"Check the Code below","info":"","x":180,"y":300,"wires":[]},{"id":"f29cd8bf.b17c28","type":"comment","z":"a52357ae.d88808","name":"IssWebPage","info":"","x":267.2222222222222,"y":37.5,"wires":[]},{"id":"cda80aea.fb3518","type":"comment","z":"a52357ae.d88808","name":"#2 Use Your GMAIL account","info":"","x":1160,"y":300,"wires":[]},{"id":"a67f822.54902","type":"inject","z":"a52357ae.d88808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":540,"wires":[["e59a9d2a.1e316"]]},{"id":"c5ac8b2b.9bf208","type":"comment","z":"a52357ae.d88808","name":"#1 Adjust the candle number","info":"","x":900,"y":440,"wires":[]},{"id":"6c4f164e.b65548","type":"comment","z":"a52357ae.d88808","name":"#1 Adjust the candle number","info":"","x":720,"y":660,"wires":[]},{"id":"29a6b679.b9f4e6","type":"debug","z":"a52357ae.d88808","name":"InComing","active":false,"console":"false","complete":"payload","x":700,"y":760,"wires":[]},{"id":"c9b0e2f8.83aaf","type":"function","z":"a52357ae.d88808","name":"Red","func":"var newmsg ={}\nnewmsg.payload = msg.payload.candleRR\nnewmsg.topic =\"Red\";\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":660,"wires":[["2edf245b.4b432"]]},{"id":"ac06026.131ce4","type":"function","z":"a52357ae.d88808","name":"Green","func":"msg.payload = msg.payload.candleGG\nmsg.topic =\"Green\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":700,"wires":[["61e25014.49fb6c"]]},{"id":"78ff3df5.bac2b8","type":"function","z":"a52357ae.d88808","name":"Blue","func":"msg.payload = msg.payload.candleBB\nmsg.topic =\"Blue\";\nreturn msg;","outputs":1,"noerr":0,"x":1030,"y":740,"wires":[["b954235a.7c0c9"]]},{"id":"2edf245b.4b432","type":"ui_gauge","z":"a52357ae.d88808","name":"","group":"99755ee1.9166d8","order":0,"width":"5","height":"3","gtype":"gage","title":"Red","label":"units","format":"{{value}}","min":0,"max":"255","colors":["#7e959a","#bcb489","#ac0c19"],"seg1":"","seg2":"","x":1230,"y":660,"wires":[]},{"id":"3437ba80.ceba56","type":"function","z":"a52357ae.d88808","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":460,"y":420,"wires":[["893bf77a.2b89c8","814d924e.9e9ab"]]},{"id":"ecabbd05.aee798","type":"function","z":"a52357ae.d88808","name":"setCandle=Red","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 255,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":340,"y":480,"wires":[["893bf77a.2b89c8"]]},{"id":"b4c936e8.def9a","type":"function","z":"a52357ae.d88808","name":"setCandle=Blue","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 255\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":620,"wires":[["893bf77a.2b89c8"]]},{"id":"142b9164.c5ecd3","type":"inject","z":"a52357ae.d88808","name":"","topic":"","payload":"","payloadType":"date","repeat":"","crontab":"","once":false,"x":100,"y":580,"wires":[["b4c936e8.def9a"]]},{"id":"e59a9d2a.1e316","type":"function","z":"a52357ae.d88808","name":"setCandle=Green","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 255,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":350,"y":520,"wires":[["893bf77a.2b89c8"]]},{"id":"2e90adbf.40021e","type":"comment","z":"a52357ae.d88808","name":"#3 Check email text","info":"","x":850,"y":300,"wires":[]},{"id":"3294219a.9eb27a","type":"switch","z":"a52357ae.d88808","name":"In Area ?","property":"inarea","propertyType":"msg","rules":[{"t":"true"},{"t":"else"}],"checkall":"true","outputs":2,"x":360,"y":340,"wires":[["43f6bd03.3f8e2","e9739cc2.ea961","ecabbd05.aee798","672cfb69.62d9c"],["3437ba80.ceba56"]]},{"id":"e9739cc2.ea961","type":"delay","z":"a52357ae.d88808","name":"","pauseType":"rate","timeout":"1","timeoutUnits":"minutes","rate":"1","nbRateUnits":"1","rateUnits":"minute","randomFirst":"1","randomLast":"5","randomUnits":"seconds","drop":true,"x":600,"y":340,"wires":[["e121858e.6647a8"]]},{"id":"814d924e.9e9ab","type":"debug","z":"a52357ae.d88808","name":"Not in area","active":true,"console":"false","complete":"true","x":630,"y":420,"wires":[]},{"id":"ccedd357.f92e8","type":"debug","z":"a52357ae.d88808","name":"Check","active":false,"console":"false","complete":"payload","x":150,"y":400,"wires":[]},{"id":"dd998c40.60c848","type":"ui_text","z":"a52357ae.d88808","group":"3034d261.8a489a","order":4,"width":0,"height":0,"name":"","label":"In Area?","format":"{{msg.inbox}}","layout":"row-spread","x":700,"y":260,"wires":[]},{"id":"5042a2a2.d594bc","type":"function","z":"a52357ae.d88808","name":"InBox","func":"msg.inbox = msg.inbox.toUpperCase();\nreturn msg;","outputs":1,"noerr":0,"x":490,"y":260,"wires":[["dd998c40.60c848"]]},{"id":"37cea980.4e63d2","type":"function","z":"a52357ae.d88808","name":"setCandle=OFF","func":"var newmsg = {\"cmd\" : \"setcolor\",\n//00 7e ff 00 00 00 19 00\"\n// modes: 01 = Fade, 02 = Jump RBG (rainbow), 03 = Fade RGB (rainbow), 04 = Candle Effect\n\n\"mode\":0,\n\"speed1\":0,\n\"speed2\":0,\n\"rr\" : 0,\n\"gg\" : 0,\n\"bb\" : 0\n    \n}\nmsg.eventOrCommandType = \"setColor\";\nmsg.payload=newmsg ;\nreturn msg;","outputs":1,"noerr":0,"x":140,"y":740,"wires":[["893bf77a.2b89c8"]]},{"id":"192fe76a.1a2181","type":"ui_button","z":"a52357ae.d88808","name":"","group":"3034d261.8a489a","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Off","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":116.875,"y":780.625,"wires":[["37cea980.4e63d2"]]},{"id":"672cfb69.62d9c","type":"debug","z":"a52357ae.d88808","name":"In Area","active":true,"console":"false","complete":"true","x":500,"y":300,"wires":[]},{"id":"3ddee69e.7e5c52","type":"comment","z":"a52357ae.d88808","name":"Infos","info":"mvk@ca.ibm.com - November 2017 \nSee https://github.com/SixNationsPolytechnic/iotcandle","x":70,"y":1000,"wires":[]},{"id":"39cf68f1.8815a4","type":"function","z":"a52357ae.d88808","name":"Counter","func":"var newmsg ={}\nnewmsg.payload = msg.payload.value\nreturn newmsg;","outputs":1,"noerr":0,"x":1040,"y":600,"wires":[["4010e59.61d749c"]]},{"id":"4010e59.61d749c","type":"ui_text","z":"a52357ae.d88808","group":"99755ee1.9166d8","order":5,"width":0,"height":0,"name":"","label":"Counter","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":600,"wires":[]},{"id":"ca7dbef5.fd71e","type":"function","z":"a52357ae.d88808","name":"Sale LatLong","func":"\nmsg.latitude = msg.payload.iss_position.latitude;\nmsg.longitude = msg.payload.iss_position.longitude;\n//msg.payload = []//\n//msg.payload =msg.latitude;\n//msg.topic=\"Lat\";\nnode.send(msg)\nmsg.topic=\"Lon\";\nmsg.payload =msg.longitude;\n//msg.payload[1] =msg.longitude;\n//\"\"+msg.latitude+\",\"+msg.longitude;\nglobal.set(\"oldlatitude\",global.get(\"latitude\"));\nglobal.set(\"oldlongitude\",global.get(\"longitude\"));\n\nglobal.set(\"latitude\",msg.latitude)\nglobal.set(\"longitude\",msg.longitude)\n\n\nreturn msg;","outputs":1,"noerr":0,"x":510,"y":140,"wires":[["2d4d18fa.07fe84","c4d5118e.a217e"]]},{"id":"82b8df1.d370fe","type":"function","z":"a52357ae.d88808","name":"Time","func":"function unixTime(unixtime) {\n\n    var u = new Date(unixtime);\n\n      return u.getUTCFullYear() +\n        '-' + ('0' + u.getUTCMonth()).slice(-2) +\n        '-' + ('0' + u.getUTCDate()).slice(-2) + \n        ' ' + ('0' + u.getUTCHours()).slice(-2) +\n        ':' + ('0' + u.getUTCMinutes()).slice(-2) +\n        ':' + ('0' + u.getUTCSeconds()).slice(-2) +\n        '.' + (u.getUTCMilliseconds() / 1000).toFixed(3).slice(2, 5) \n    };\n    var newmsg ={}\nnewmsg.payload = unixTime(parseInt(msg.payload.ts))\nreturn newmsg;","outputs":1,"noerr":0,"x":1030,"y":560,"wires":[["c4ad8c01.07dee"]]},{"id":"c4ad8c01.07dee","type":"ui_text","z":"a52357ae.d88808","group":"99755ee1.9166d8","order":5,"width":0,"height":0,"name":"","label":"Msg Time","format":"{{msg.payload}}","layout":"row-spread","x":1240,"y":560,"wires":[]},{"id":"623ff980.50b25c","type":"ui_button","z":"a52357ae.d88808","name":"","group":"3034d261.8a489a","order":6,"width":0,"height":0,"passthru":false,"label":"Turn Candle Blue","color":"","bgcolor":"","icon":"","payload":"\"off\"","payloadType":"str","topic":"","x":110,"y":680,"wires":[[]]},{"id":"2d4d18fa.07fe84","type":"function","z":"a52357ae.d88808","name":"Distance","func":"function getDistanceFromLatLonInKm(lat1,lon1,lat2,lon2) {\n  var R = 6371; // Radius of the earth in km\n  var dLat = deg2rad(lat2-lat1);  // deg2rad below\n  var dLon = deg2rad(lon2-lon1); \n  var a = \n    Math.sin(dLat/2) * Math.sin(dLat/2) +\n    Math.cos(deg2rad(lat1)) * Math.cos(deg2rad(lat2)) * \n    Math.sin(dLon/2) * Math.sin(dLon/2)\n    ; \n  var c = 2 * Math.atan2(Math.sqrt(a), Math.sqrt(1-a)); \n  var d = R * c; // Distance in km\n  return d;\n}\n\nfunction deg2rad(deg) {\n  return deg * (Math.PI/180)\n}\nlat=global.get(\"latitude\");\nlon=global.get(\"longitude\");\nolat=global.get(\"oldlatitude\");\nolon=global.get(\"oldlongitude\");\n\n\ndistance =getDistanceFromLatLonInKm(olat,olon,lat,lon)\n//node.warn(speed)\nmsg.payload = distance.toFixed(2);\nmsg.distance = distance;\nglobal.set(\"distance\",distance);\nreturn msg;","outputs":1,"noerr":0,"x":700,"y":80,"wires":[["1ddf6b01.ea9801","9d2b4a0.869a4b8"]]},{"id":"1ddf6b01.ea9801","type":"ui_text","z":"a52357ae.d88808","group":"3034d261.8a489a","order":4,"width":0,"height":0,"name":"","label":"Distance in Km( 10Sec)","format":"{{msg.payload}}","layout":"row-spread","x":950,"y":80,"wires":[]},{"id":"c4d5118e.a217e","type":"ui_chart","z":"a52357ae.d88808","name":"","group":"3034d261.8a489a","order":0,"width":0,"height":0,"label":"Longitude","chartType":"line","legend":"false","xformat":"HH:mm:ss","interpolate":"linear","nodata":"","dot":false,"ymin":"","ymax":"","removeOlder":"10","removeOlderPoints":"","removeOlderUnit":"60","cutout":0,"useOneColor":false,"colors":["#1f77b4","#aec7e8","#ff7f0e","#2ca02c","#98df8a","#d62728","#ff9896","#9467bd","#c5b0d5"],"useOldStyle":false,"x":707.2222222222222,"y":123.88888888888888,"wires":[[],[]]},{"id":"cbc8d9ec.b77aa8","type":"ui_text","z":"a52357ae.d88808","group":"3034d261.8a489a","order":4,"width":0,"height":0,"name":"","label":"Speed in Km/H","format":"{{msg.payload}}","layout":"row-spread","x":920,"y":40,"wires":[]},{"id":"9d2b4a0.869a4b8","type":"function","z":"a52357ae.d88808","name":"Calulate SPEED","func":"// Home work! Calulate the speed in Km/H of the ISS\n// based on the distance \n//msg.distance = IIS traveld in 10 Sec\n\nmsg.payload = \"???\"\nreturn msg;","outputs":1,"noerr":0,"x":720,"y":40,"wires":[["cbc8d9ec.b77aa8"]]},{"id":"1f9cf216.cadf02","type":"ui_group","z":"","name":"ISS Area","tab":"1c8c6fb5.304a6","order":1,"disp":true,"width":"12"},{"id":"3034d261.8a489a","type":"ui_group","z":"","name":"ISS Infos","tab":"1c8c6fb5.304a6","order":2,"disp":true,"width":"6"},{"id":"99755ee1.9166d8","type":"ui_group","z":"","name":"FromPI","tab":"1c8c6fb5.304a6","order":3,"disp":true,"width":"6"},{"id":"1c8c6fb5.304a6","type":"ui_tab","z":"","name":"ISS Area","icon":"dashboard"}]
